body{
    font-family: Arial, Helvetica, sans-serif;
}

#content-box{
    width: 500px;
    height: 500px;
    border: 10px solid black;
    border-radius: 10px;

    background-color: green;
    display: flex;
    margin: 0 auto;
    margin-top: 50px;
}

#country-info{
    width: 250px;
    height: 500px;
    background-color: whitesmoke;
}

#country-name{
    text-align: center;
}

#countries{
    width: 250px;
    height: 500px;
    background-color:grey;
    overflow-y: auto;
}

.country-list-name{
    border:  1px solid black;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
    background-color: white;
}

#country-flag{
    width: 200px;
    padding: 20px;
    text-align: center;
}

#country-list{
    list-style: none;
}

#country-list li{
    border-bottom: 2px solid black;
}

.hide{
    display: none;
}
